body {
    font-size: 125%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav a {
    text-decoration: none;
    display: block;
    padding: 0.5em 1em ;
    background-color: rgb(216, 216, 216);
}
nav a:hover {
    background-color: blue;
}