body {
    font-size: 125%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

nav a {
    text-decoration: none;
    display: block;
    padding: 0.5em 1em ;
    background-color: rgb(211, 169, 153);
    color: rgb(33, 29, 30);
    margin: 0 1px 0 0;
}
nav a:hover {
    background-color: rgb(165, 174, 183);
    color: rgb(87, 80, 80);
}

a:active {
    color: rgb(243, 198, 115);
}

header, main, footer{
    width: 40em;
    max-width: 98%;
    margin: 0 auto;
}

body{
    background-color: rgb(233, 230, 225);
    color: rgb(33, 29, 30);
}

h1, h2, h3{
    font-family: 'Cormorant Garamond', serif;
}

p, ol, ul#main{
    font-family: 'Proza Libre', sans-serif;
}

/* Layout for screens over 600px wide */
@media only screen and (min-width: 600px) {
    nav ul {
        flex-direction: row;
    }
}